# Nuxt build
.nuxt

# Nuxt generate
dist

.DS_Store
node_modules
dist/build.js
dist/build.css
yarn-error.log
npm-debug.log
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
logs
*.log
config/development.js*
server/config/development.js*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
browserify-cache.json
.lock-wscript
tmp/
/data/
/public/application.js
/public/libs.js
/public/sw.js
/public/icons.svg
.env
.idea
.DS_Store
.vscode/*
.history/*
