@import './variables'
@import './screen'

.btn
  display: flex
  justify-content: center
  align-items: center
  background-color: var(--button-background-color, $secondary-color-hue)
  color: var(--button-color, $secondary-text)
  border-radius: var(--button-border-radius, 0)
  font-size: var(--button-font-size, 16px)
  padding: var(--button-padding, 10px)
  text-decoration: none
  cursor: pointer
  &[thin]
    padding: 5px 10px
.btn:hover
  background-color: var(--button-background-color-hover, $secondary-color-subtle)
  text-decoration: none
