$primary-color = var(--primary-color, #000000)
$primary-color-hue = var(--primary-color-hue, #191919)
$primary-color-subtle = var(--primary-color-subtle, #292929)

$primary-text = var(--primary-text, #fff)
$primary-text-hue = var(--primary-text-hue, #909090)
$primary-text-disabled = var(--primary-text-disabled, #888)

$accent-color = var(--accent-color, #71bc4f)
$accent-text = var(--accent-text, #fff)

$secondary-color = var(--secondary-color, #ffffff)
$secondary-color-hue = var(--secondary-color-hue, #e7eaf0)
$secondary-color-subtle = var(--secondary-color-subtle, #cbd4df)

$secondary-text = var(--secondary-text, #000)
$secondary-text-hue = var(--secondary-text-hue, #222)
$secondary-text-disabled = var(--secondary-text-disabled, #444)

$danger = var(--danger, #ad1414)
$success = var(--success, #28b328)

$mobile-portrait = 420px
$mobile-landscape = 736px
$tablet-portrait = 800px
$tablet-landscape = 1024px
$desktop = 1120px
$middle-desktop = 1280px
$large-desktop = 1920px
